.Rproj.user/

.Rhistory

.RData

.Ruserdata

notebooks/*.html



# data

data/raw/*

data/interim/*

data/processed/model_out/*



# povol výjimky, které chceš verzovat:

!data/processed/esg_long.csv



# python / modely

__pycache__/

*.pyc

*.joblib



# kontejnery / dočasné věci

images/*.sif

